<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\SW_Logs\VmsApi\vms-api-nlog-internal.log"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="R7Insight.NLog" />
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <targets>

    <!--Application Logging to InsightOps -->
    <!--Keeping for backward compatibility for now - note token is for core-api rather than CES. Likeley to remove later -->
    <target name="application-insightops" xsi:type="Insight" region="us" debug="true" usessl="true" token="${vms-core-api-logtoken}">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="eventId" layout="${aspnet-item:variable=LogEventId}" />
        <attribute name="eventDateTime" layout="${date:universalTime=true:format=o}" />
        <attribute name="logLevel" layout="${LEVEL:uppercase=true}" />
        <attribute name="machineName" layout="${machinename}" />
        <attribute name="applicationName" layout="VmsCoreApi" />
        <attribute name="eventSource" layout="${logger}" />
        <attribute name="correlationId" layout="${aspnet-traceidentifier}" />
        <attribute name="message" layout="${message:raw=true}" />
        <attribute name="exception" layout="${exception:format=@}" encode="false" />
        <attribute name="id" layout="${guid:format=D}" />
      </layout>
    </target>

    <!--Audit Logging to InsightOps -->
    <!--Keeping for backward compatibility for now - note token is for core-api rather than CES. Likeley to remove later -->
    <target name="audit-insightops" xsi:type="Insight" region="us" debug="true" usessl="true" token="${vms-core-api-audit-logtoken}">
      <layout xsi:type="JsonLayout" includeAllProperties="false">
        <attribute name="id" layout="${guid:format=D}" />
        <attribute name="requestIp" layout="${aspnet-request-ip}" />
        <attribute name="eventDateTime" layout="${date:universalTime=true:format=o}" />
        <attribute name="eventSource" layout="${logger}" />
        <attribute name="applicationName" layout="VmsCoreApi" />
        <attribute name="machineName" layout="${machinename:uppercase-true}" />
        <attribute name="correlationId" layout="${aspnet-traceidentifier}" />
        <attribute name="logEntry" layout="${message:raw=true}" encode="false"/>
      </layout>
    </target>

    <target xsi:type="ApplicationInsightsTarget" name="aiTarget">
      <!-- Only required if not using ApplicationInsights.config -->
      <contextproperty name="threadid" layout="${threadid}" />
      <!-- Can be repeated with more context -->
    </target>

  </targets>

  <rules>
    <logger name="Application" minLevel="Warn" writeTo="application-insightops" />
    <logger name="Audit" minLevel="Warn" writeTo="audit-insightops" />
    <logger name="ApplicationInsights" minlevel="Warn" writeTo="aiTarget" />
  </rules>

</nlog>